<h1>
  Cuisine #<%= @cuisine.id %> details
</h1>

<div>
  <div>
    <a href="/cuisines">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_cuisine_form/<%= @cuisine.id %>">
      Edit cuisine
    </a>
  </div>

  <div>
    <a href="/delete_cuisine/<%= @cuisine.id %>">
      Delete cuisine
    </a>
  </div>
</div>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @cuisine.name %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@cuisine.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@cuisine.updated_at) %> ago
  </dd>
</dl>

